.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 20px;
}

.item{
    background: pink;
}

.item:nth-child(1), .item:nth-child(10){ 
    grid-column: span 3;
}

.item:nth-child(1), .item:nth-child(5) { 
    grid-row: span 2;
}

.item:nth-child(2), .item:nth-child(3), .item:nth-child(7){ 
    grid-column: span 2;
}

.item:nth-child(4){
    grid-column: span 5;
}




